.SearchResultPage-wrapper {
    .search-result-body {
        padding-top: 118px;
        display: flex;

        .slide-bar-left {
            width: 300px;
            height: 100vh;
            position: sticky !important;
            //    background-color: red;

        }

        .search-home {
            // background-color: rgb(143, 162, 143);
            max-height: 5000px !important;
            width: 100%;
            padding: 2rem 1rem 0px 10px;

            .show-result {
                h4 {
                    //styleName: Desktop (lg = <1440px)/body-xl;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    padding-bottom: 1rem;

                    span {


                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        text-align: left;
                        color: #111111;

                    }
                }
            }

            .selecter-filter {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 2rem;

                .filter-1 {

                    height: 35px;
                    // background-color: red;
                    // padding: 0px 5px;
                    padding: 0px;
                    border-radius: 5px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    border: 0.5px solid #00000033;

                    color: #000000;
                    font-family: Roboto;
                    font-size: 13px;

                    font-weight: 500;
                    line-height: 18.2px;
                    text-align: left;


                    .dropdown-toggle {
                        cursor: pointer;
                        width: 100%;

                        padding: 0px 10px;


                    }

                    .dropdown-menu {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
                        background-color: #fff;
                        margin-top: 10px !important;


                    }

                    .dropdown-item {
                        display: flex;
                        align-items: center;
                        padding: 5px 0;

                    }

                    .dropdown-item input[type="radio"] {
                        appearance: none;
                        // -webkit-appearance: none;
                        // -moz-appearance: none;
                        width: 24px;
                        height: 24px;
                        border: 2px solid #6a0dad;
                        border-radius: 50%;
                        outline: none;
                        margin-right: 10px;
                        position: relative;
                    }

                    .dropdown-item input[type="radio"]:checked::before {
                        content: '';
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: #6a0dad;
                        position: absolute;

                        top: 10%;
                        left: 10%;
                    }

                    .dropdown-item label {
                        margin: 0;
                        cursor: pointer;
                    }

                    .dropdown-item:hover {
                        background-color: transparent;
                    }



                }

                .filter-2 {
                    width: 76px;
                    height: 35px;
                    padding: 0px 5px;
                    border-radius: 5px;
                    border: 0.5px solid #00000033;

                    .dropdown-toggle {
                        width: 100%;
                    }

                    :focus {
                        outline: none;
                    }

                }

                .filter-3 {
                    width: 129px;
                    height: 35px;
                    padding: 0px 5px 0px 5px;

                    border-radius: 5px;
                    border: 0.5px solid #00000033;

                    select {
                        width: 100%;
                        height: 100%;
                        border: none;
                        color: #000000;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 18.2px;
                        text-align: left;
                        position: relative;

                    }


                    :focus {
                        outline: none;
                    }

                }

                .filter-4 {
                    width: 103px;
                    height: 35px;
                    padding: 0px 12px 0px 12px;

                    border-radius: 5px;
                    border: 0.5px solid #00000033;


                    select {
                        width: 100%;
                        height: 100%;
                        border: none;
                        color: #000000;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 18.2px;
                        text-align: left;
                        position: relative;

                    }


                    :focus {
                        outline: none;
                    }

                }
            }

            .Products-main-body {
                .product-card {
                    width: 100%;
                    // height: 416px;
                    gap: 8px;
                    position: relative;
                    border-radius: 4px;
                    border: 1px solid #F2F2F2;
                    opacity: 0px;

                    // background-color: red;
                    .product-details {

                        padding-left: 6px;
                    }

                    .best-seller {
                        width: 73px;
                        height: 24px;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        background: #B271F333;
                        position: absolute;
                        top: 2%;
                        left: 2%;

                        h5 {
                            //styleName: Desktop (lg = <1440px)/body-xs;
                            font-family: Roboto;
                            font-size: 11px;
                            font-weight: 500;

                            margin: 0px !important;
                            text-align: left;
                            color: #5D1CAA;
                        }
                    }

                    .favourate-icon {
                        position: absolute;
                        // background-color: green;
                        display: flex;
                        align-items: start;
                        right: 2%;
                        padding: 0px !important;
                        margin: 0px !important;
                        top: 2%;
                        font-size: 25px;

                    }

                    .product-title {
                        p {
                            //styleName: Desktop (lg = <1440px)/body-md;
                            font-family: Roboto;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 18.2px;
                            padding-top: 1rem;
                            text-align: left;
                            color: #1E3354;
                        }
                    }

                    .product-image {
                        height: 200px;
                        width: 100%;


                        img {
                            width: 70%;
                            display: block;
                            margin: 0 auto;
                            // height: 100%;
                            object-fit: cover;
                        }
                    }

                    .product-rating {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        // padding-left: 10px;
                        padding: 3px;
                        margin: 0px 0px 6px 6px;
                        border-radius: 5px;
                        gap: 6px;
                        border: 1px solid #DADADA;
                        width: 48px;

                        // background-color: green;
                        .HiOutlineStar-icon {
                            margin: 0 !important;
                            // background-color: red;
                            padding: 0px !important;
                            font-size: 11px;
                            color: #111111;
                        }

                        span {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 14.4px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #111111;

                        }
                    }

                    .sponsered {
                        h4 {
                            //styleName: Desktop (lg = <1440px)/body-xs;
                            font-family: Roboto;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 13.75px;
                            text-align: left;
                            color: #8C8C8C;

                            padding-left: 6px;
                        }
                    }

                    .product-price {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        // justify-content: space-between;

                        .exact-price {
                            h1 {
                                font-family: Roboto;
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 22.5px;
                                text-align: left;
                                color: #111111;
                            }
                        }

                        .before-price {
                            h3 {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16.8px;
                                letter-spacing: 0.02em;

                                text-align: left;

                            }
                        }


                        .offer {
                            h3 {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 16.8px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: #038A10;
                            }

                        }

                    }

                }
            }
        }
    }
}