.shoppingCartMainWrapper {
    .shopping-cart-page {
        padding-top: 7rem;

        .shopping-cart-left {
            max-height: 3500px;
            padding: 1rem 2rem;

            .cart-heading {
                //styleName: Desktop (lg = <1440px)/Heading 2;
                font-family: Roboto;
                font-size: 21px;
                font-weight: 600;
                line-height: 26.25px;
                text-align: left;
                color: #111111;
            }

            .register-card {
                position: relative;
                margin-top: 2rem;
                width: 100%;
                height: 70px;
                background-color: #FAFAFA;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                border-radius: 4px;

                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .reg-card-left {
                    p {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19.6px;
                        text-align: left;
                        color: #111111;
                        margin: 0 !important;
                    }

                    span {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.8px;
                        text-align: left;
                        color: #5A5A5A;
                    }
                }

                .reg-card-right {
                    button {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: center;
                        border: none;
                        background-color: transparent;
                        color: #5D1CAA;
                    }
                }
            }

            .cart-items-main,
            .whishlist-section-main {
                border: 1px solid #F3F3F3;
                max-height: 2400px;
                margin-top: 3rem;
                border-radius: 4px;
                overflow: hidden;

                .cart-item {
                    border-bottom: 1px solid #F3F3F3;
                    // border-bottom:1px solid #f40404;

                    padding: 1rem;

                    .cart-item-left {
                        .image-description-wrapper {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            // justify-content: space-between;
                            .prod-image {
                                width: 100px;
                                height: 100px;
                                border: 1px solid #F3F3F3;
                                border-radius: 4px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 80%;
                                }
                            }

                            .discription {
                                p {
                                    font-family: Roboto;
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 22.5px;
                                    text-align: left;
                                    color: #111111;
                                    margin: 0;
                                }

                                table {
                                    // background.-color: red;
                                    width: 100%;
                                }

                                .brand,
                                .orderd-buy {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 15px;
                                    text-align: left;
                                }

                                td {
                                    width: 40px !important;
                                }

                                .brand-value,
                                .ordered-by-value {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 15px;
                                    text-align: left;
                                }

                                .brand,
                                .orderd-buy {
                                    margin-right: 10px;
                                }

                                .brand-value {
                                    margin-right: 3rem;
                                }
                            }
                        }

                        .count-section {
                            padding-top: 10px;
                            display: flex;
                            gap: 1.5rem;
                            align-items: center;

                            p {
                                margin-bottom: 0 !important;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 16.8px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: #5D1CAA;

                                // background-color: green;
                                .fav-icon {
                                    font-size: 16px;
                                    margin-right: 6px;
                                    // background-color: red;
                                }
                            }

                            .calculator {
                                border: 0.1px solid #0000006c;
                                width: 132px;
                                height: 32px;
                                border-radius: 5px;
                                margin-top: 10px;
                                display: flex;

                                .decrement,
                                .count {
                                    border-right: 0.1px solid #0000006c;
                                }

                                .decrement,
                                .count,
                                .increment {
                                    width: 33.3%;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;

                                    .count-icon {
                                        color: #5D1CAA;
                                    }

                                    span {
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-weight: 600;
                                        line-height: 22.4px;
                                        text-align: left;
                                        color: #5D1CAA;
                                    }
                                }
                            }
                        }
                    }

                    .cart-item-right {
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .offer-price {
                            font-family: Roboto;
                            font-size: 28px;
                            font-weight: 600;
                            line-height: 31.5px;
                            text-align: left;
                            color: #111111;
                            margin-right: 10px;
                        }

                        .og-price {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.8px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #8C8C8C;
                            margin-right: 10px;

                        }

                        .gst {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.8px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #585858;
                        }

                        .offer-ratio {
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20px;
                            text-align: left;
                            color: #038A10;
                            margin-right: 10px;
                        }

                        .saved-amt {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 15px;
                            text-align: left;
                            color: #038A10;
                        }
                    }
                }
            }

            .whishlist-section-main {
                margin-top: 5rem;
                margin-bottom: 5rem;

                .whist-list-collapse {
                    display: flex;
                    justify-content: space-between;
                    height: 74px;
                    border: 1px solid #F3F3F3;
                    align-items: center;
                    border-radius: 4px;
                    padding: 0 1rem;
                    cursor: pointer;

                    .down-arrow {
                        transition: .3s;
                    }

                    .up-arrow {
                        transform: rotate(180deg);
                    }

                    span {
                        font-family: Roboto;
                        font-size: 21px;
                        font-weight: 600;
                        line-height: 26.25px;
                        text-align: left;

                        .fav-icon {
                            font-size: 18px;
                        }
                    }
                }

                .collapse-content {
                    max-height: 0;
                    overflow: hidden;
                    // padding: 1rem;
                    width: 100%;
                    border: 1px solid #F3F3F3;
                    border-top: none;
                    border-radius: 4px;
                    transition: .4s;

                    .whishlist-item {
                        padding: 1rem;
                    }
                }

                .collapse-opened {
                    max-height: 700px !important;

                }
            }
        }

        .order-summery-card {
            margin-top: 4rem !important;
            border: 1px solid #F3F3F3;
            border-radius: 5px;
            //    height: 370px;
            width: 80%;
            margin: auto;
            position: sticky;
            top: 8rem;
            padding: 1rem;

            h4 {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 600;
                line-height: 22.5px;
                text-align: left;

            }

            .order-details {
                img {
                    width: 100%;
                }

                table {
                    width: 100%;
                }

                .left-td {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #333333;
                    height: 30px;
                    // width: 200px;
                }

                .right-td {
                    display: flex;
                    justify-content: end;
                    height: 30px;
                    align-items: center;

                }

                .total {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #333333;
                }

                .crossed-price {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #A0A0A0;
                }

                .free-dlvry-text {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #038A10;
                    margin-left: 5px;
                }

                .discount {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #038A10;
                }

                .totel-price-text {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    text-align: left;
                    color: #333333;
                }

                .total-price {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    text-align: left;
                    color: #333333;
                }

                .saved-count {
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    text-align: left;
                    color: #038A10;
                }

                .checkoutBtn {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 17.5px;
                    border: 1px solid #5D1CAA;
                    background-color: #5D1CAA;
                    color: white;
                    border-radius: 10px;
                    width: 100%;
                    height: 48px;
                    transition: .3s;
                }

                .checkoutBtn:hover {
                    background-color: white;
                    color: #5D1CAA;
                }
            }
        }
    }

    @media(max-width:576px) {
        .shopping-cart-page {
            padding-top: 0;
        }

        .register-card {
            flex-direction: column;
            align-items: center;
        }

        .image-description-wrapper {
            .prod-image {
                height: 70px;
            }

            .discription {
                p {
                    font-size: 12px !important;
                    line-height: 15.5px !important;
                }

                .brand,
                .orderd-buy {
                    font-size: 10px !important;
                    line-height: 11px !important;
                }

                .brand-value,
                .ordered-by-value {
                    font-size: 11px !important;
                }

                .brand,
                .orderd-buy {
                    margin-right: 10px;
                }

                .brand-value {
                    margin-right: 1rem !important;
                }
            }
        }

        .count-section {
            flex-direction: column;
            gap: 1rem !important;
            align-items: center;

        }
    }
}