.Personal-information-main-wrapper {
    .personal-information {
        width: 100%;

        .information-heading {
            font-family: Roboto;
            font-size: 21px;
            font-weight: 600;
            line-height: 26.25px;
            text-align: left;
            color: #111111;
        }

        .personal-information-cards-wrapper {
            padding-top: 2rem;

            .infrmtn-left {
                .address-card {
                    width: 100%;
                    border: 1px solid #F3F3F3;
                    border-radius: 4px;

                    .address-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        border-bottom: 1px solid #F3F3F3;

                        p {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 15.6px;
                            text-align: left;
                            margin-bottom: 0 !important;
                            color: #555650;
                        }

                        span {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17.5px;
                            text-align: left;
                            color: #111111;
                        }

                        button {
                            background-color: transparent;
                            border: none;
                            color: #5D1CAA;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 14.06px;

                        }

                        .verifaid {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 15.6px;
                            text-align: left;
                            color: #111111;
                            margin-right: 10px;
                        }

                        .verifyNow {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 15.6px;
                            text-align: left;
                            color: #5D1CAA;
                        }
                    }
                }
            }

            .infrmtn-right {
                .connect-social-account-card {
                    width: 100%;
                    border: 1px solid #F3F3F3;
                    border-radius: 4px;


                    h2 {
                        //styleName: Desktop (lg = <1440px)/Heading 4;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 20px;
                        text-align: left;
                        color: #111111;
                        padding: 1rem;
                    }

                    .create-account-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 1rem;
                        border-bottom: 1px solid #F3F3F3;
                        height: 80px;


                        .connect-google {
                            background: #F2F2F2;
                            padding: 7px 10px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            border-radius: 4px;

                            span {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;

                            }
                        }

                        .connection {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 600;
                            text-align: left;
                            color: #111111;
                        }
                    }
                }
            }
        }
    }
}