.ProductInnerPageMailWrapper {
    .product-inner-page {
        padding: 8rem 2rem 3rem;
        display: flex;


        .product-page-left {
            width: 50%;
            position: sticky;
            top: 8rem;
            // background-color: red;
            height: 100vh;
            display: flex;

            .product-sub-images-container {
                width: 80px;
                height: 300px;

                .product-sub-image {
                    width: 100%;
                    height: 80px;
                    border: 1px solid #F3F3F3;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .product-sub-image:hover {
                    border: 1px solid #5D1CAA;
                }

                .activeImg {
                    border: 1px solid #5D1CAA;

                }

            }

            .selected-image-container {
                border: 1px solid #F3F3F3;
                width: 558px;
                height: 558px;
                margin-left: 1rem;
                border-radius: 4px;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                }

                .fav-icon {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    background-color: white;
                    box-shadow: 0px 1px 2px 0px #1F1E241A;
                    border-radius: 50%;
                    font-size: 40px;
                    padding: 10px;
                    cursor: pointer;
                }

                .share-icon {
                    position: absolute;
                    right: 15px;
                    top: 60px;
                    background-color: white;
                    box-shadow: 0px 1px 2px 0px #1F1E241A;
                    border-radius: 50%;
                    font-size: 40px;
                    padding: 10px;
                }
            }

        }

        .product-page-right {
            width: 50%;
            max-height: 3800px;
            padding-right: 2rem;

            .product-discription {
                font-family: Roboto;
                font-size: 24px;
                font-weight: 500;
                line-height: 31.92px;
                color: #111111;
                margin-bottom: 0 !important;
            }

            .brand {
                display: flex;
                gap: 7px;

                p {
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    text-align: left;
                    color: #111111;
                }

                .brand-vlue {
                    color: #5D1CAA;
                }
            }

            .rating-wrapper {
                display: flex;
                gap: 10px;
                align-items: center;

                .rating-container {
                    display: flex;
                    gap: 2px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #DADADA;
                    border-radius: 4px;
                    width: 48px;
                    height: 20px;

                    span {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 14.4px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #111111;
                        margin-bottom: 0 !important;
                    }

                    .star-icon {
                        font-size: 13px;
                    }
                }

                .rating-count {
                    //styleName: Desktop (lg = <1440px)/body-sm;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    text-align: left;
                    color: #5D1CAA;
                }
            }

            .price-wrapper {
                display: flex;
                gap: 10px;
                padding-top: 10px;
                align-items: center;

                .price {
                    //styleName: Desktop (lg = <1440px)/Display Heading;
                    font-family: Roboto;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 31.5px;
                    text-align: left;
                    color: #111111;
                    margin-bottom: 0 !important;
                }

                .crossed-price {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #8C8C8C;
                    margin-bottom: 0 !important;
                }

                .gst {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.8px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #585858;
                    margin-bottom: 0 !important;
                }

                .offer-text {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    text-align: left;
                    color: #038A10;
                    margin-bottom: 0 !important;
                }

                .saved-perc {
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    text-align: left;
                    color: #038A10;
                    margin-bottom: 0 !important;
                }
            }

            .weight-packaging {
                display: flex;
                gap: 2.3rem;
                padding-top: 10px;

                p {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #333333;
                    margin-bottom: 5px !important;
                }

                .grams {
                    display: flex;
                    gap: 8px;
                }

                .gram-column {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #111111;
                    padding: 8px 15px;
                    border-radius: 5px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: center;
                    color: #111111;
                }

                .disabled-gram {
                    border: 1px solid #787878;
                    color: #787878;
                }

                .active-gram {
                    background: #F0E5FF;
                    border: 1px solid var(#5D1CAA);
                }
            }

            .delivery-details-card {
                width: 100%;
                padding: 10px;
                border: 1px solid #F3F3F3;
                margin-top: 1rem;
                border-radius: 4px;
                display: flex;

                .delivery-left,
                .delivery-right {
                    width: 50%;
                }

                .delivery-left {
                    p {
                        //styleName: Desktop (lg = <1440px)/body-lg;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        color: #111111;
                    }

                    select {
                        border: 1px solid #B3B3B3;
                        width: 100%;
                        height: 48px;
                        border-radius: 10px;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16.41px;
                        color: #111111;
                        padding-left: 10px;
                        padding-right: 10px !important;
                        margin-bottom: 1rem;
                    }

                    select:focus {
                        outline: none;
                    }

                    .buy-btn {
                        width: 100%;
                        height: 48px;
                        border-radius: 10px;
                        border: 1px solid #5D1CAA;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 22.4px;
                        background-color: white;
                        color: #5D1CAA;
                    }

                    .buy-btn:hover {
                        background-color: #5D1CAA;
                        color: white;
                    }

                    span {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                        text-align: left;

                    }
                }

                .delivery-right {
                    padding-top: 2rem;
                    padding-left: 10px;

                    .order-time {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 17.5px;
                        text-align: left;
                        margin-bottom: 15px !important;
                    }

                    .del-date {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: left;

                    }

                    .addTocartBtn {
                        width: 100%;
                        height: 48px;
                        border: 1px solid #5D1CAA;
                        background-color: #5D1CAA;
                        border-radius: 10px;
                        color: white;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 17.5px;
                    }

                    .addTocartBtn:hover {
                        background-color: white;
                        color: #5D1CAA;
                    }
                }
            }

            .register-now-card {
                width: 502px;
                height: 69px;
                background: #FAFAFA;
                margin-top: 1rem;
                border-radius: 4px;
                display: flex;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;

                .star-logo {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                .reg-left {
                    span {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.6px;
                    }

                    p {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.8px;
                        text-align: left;
                        color: #5A5A5A;
                        margin-bottom: 0 !important;
                    }
                }

                .reg-right {
                    button {
                        background-color: transparent;
                        border: none;
                        //styleName: Desktop (lg = <1440px)/body-lg;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17.5px;
                        text-align: center;
                        color: #5D1CAA;
                    }
                }
            }

            .highlight-about-product-wrapper {
                padding-top: 3rem;

                h3 {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                }

                li {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.5px;
                    text-align: left;
                    margin-bottom: 1rem;

                }

                p {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.5px;
                    text-align: left;
                }
            }

            .delivery-detail-card-wrapper {
                margin-top: 2rem;
                width: 100%;
                border: 1px solid #F3F3F3;
                border-radius: 4px;
                display: flex;
                gap: 3rem;
                align-items: center;
                padding: 10px;

                .delivery-card {
                    width: 50px;

                    img {
                        display: block;
                        margin: auto;
                        width: 32px;
                    }

                    p {
                        margin-top: 10px;
                        font-family: Roboto;
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12px;
                        letter-spacing: 0.02em;
                        text-align: center;
                        color: #111111;
                        margin-bottom: 0 !important;
                    }
                }
            }

            .more-details-heading {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 600;
                line-height: 22.5px;
                color: #333333;
                margin-top: 2rem;
            }

            .accordion-button:not(.collapsed) {
                background-color: white !important;
            }

            button:focus:not(:focus-visible) {
                outline: 0 !important;
            }

            button:focus:not(:focus-visible) {
                outline: 0 !important;
            }

            .accordion-button {
                //styleName: Desktop (lg = <1440px)/Heading 4;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
            }

            #collapseTwo {
                td {
                    width: 300px;
                    height: 30px;
                    //styleName: Desktop (lg = <1440px)/body-lg;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.5px;
                    text-align: left;
                    font-variation-settings: 'wdth' 100, 'opsz' 14;
                }

                th {
                    font-family: Roboto;
                }
            }

            .rating-and-reviews-wrapper {
                margin-top: 2rem;
                border: 1px solid #F3F3F3;
                width: 100%;
                // height: 300px;

                .rating-section {
                    padding: 10px;
                    border-bottom: 1px solid #F3F3F3;

                    h2 {
                        //styleName: Desktop (lg = <1440px)/Heading 3;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22.5px;
                        color: #111111;
                        margin-bottom: 2rem;
                    }

                    .rating-detail-wrapper {
                        display: flex;
                        width: 100%;
                        height: 112px;
                        align-items: center;
                        justify-content: center;

                        .modal {
                            background-color: rgba(0, 0, 0, 0.677);
                            z-index: 999999999999999999999999;

                            // padding-top: 3rem;
                            h1 {
                                font-family: Roboto;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 23.44px;
                                text-align: left;
                                color: #111111;
                            }

                            .rate-product-heading {
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 18.75px;
                                color: #111111;
                            }

                            .rateproduct-prod-detail {
                                display: flex;
                                align-items: center;
                                height: 100px;
                                gap: .8rem;

                                .prod-image {
                                    width: 22%;
                                    height: 100px;
                                    background-color: #FAFAFA;
                                    // background-color: #6e2d2d;

                                    overflow: hidden;
                                    padding: 10px;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .prod-details {
                                    width: 77%;

                                    h4 {
                                        font-family: Roboto;
                                        font-size: 14px;
                                        font-weight: 600;
                                        line-height: 17.5px;
                                        text-align: left;

                                    }

                                    p {
                                        font-family: Roboto;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 14.4px;
                                        letter-spacing: 0.02em;
                                        text-align: left;
                                        color: #787878;
                                        margin-bottom: 0 !important;
                                    }

                                    span {
                                        font-family: Inter;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 15.6px;
                                        text-align: left;
                                        color: #111111;
                                    }

                                }

                            }

                            .rating-stars {
                                padding-top: 10px;
                            }

                            .fill-star-rated {
                                margin-right: 10px;
                                font-size: 32px;
                                color: #5D1CAA;
                            }

                            .not-fill-star-rated {
                                color: #cbcbcb;
                                margin-right: 10px;
                                font-size: 32px;
                            }

                            .add-rating-image-section {
                                h5 {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 14.06px;
                                    text-align: left;
                                    color: #434343;
                                    margin-top: 20px;
                                }

                                .selected-image-wrapper {
                                    display: flex;
                                    gap: 10px;

                                    .file-upload {
                                        position: relative;
                                        width: 56px;
                                        height: 56px;
                                        border: 2px dashed #ccc;
                                        border-radius: 8px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    .file-input {
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        cursor: pointer;
                                    }

                                    .file-label {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        height: 100%;
                                        cursor: pointer;
                                    }

                                    .plus-sign {
                                        font-size: 36px;
                                        color: #5D1CAA;
                                    }

                                    .selected-image {
                                        width: 56px;
                                        height: 56px;
                                        background-color: #E1E1E1;
                                        border-radius: 8px;
                                    }
                                }
                            }

                            .avg-prod-text {
                                padding-top: 1rem;
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 8.75px;
                                text-align: left;
                                margin-bottom: 0 !important;
                            }

                            .prod-comment-wrapper {
                                padding-top: 10px;

                                label {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 14.06px;
                                    text-align: left;
                                    color: #434343;
                                    margin-bottom: 5px;
                                }

                                textarea {
                                    width: 100%;
                                    height: 100px;
                                    border: 1px solid #B3B3B3;
                                    border-radius: 10px;
                                    padding-left: 10px;
                                    font-family: roboto;
                                }

                                textarea:focus {
                                    outline: 1px solid #5D1CAA;
                                }
                            }

                            .modal-footer {
                                display: flex;
                                justify-content: start !important;

                                button {
                                    width: 153px;
                                    height: 48px;
                                    background-color: #5D1CAA;
                                    border: 1px solid #5D1CAA;
                                    color: white;
                                    font-family: Roboto;
                                    font-size: 15px;
                                    font-weight: 600;
                                    line-height: 24px;
                                    border-radius: 10px;
                                }
                            }
                        }

                        #ReportProductModal {
                            .what-is-issue-heading {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 16.41px;
                                text-align: left;
                            }

                            .issue-list {
                                padding-top: .6rem;
                            }

                            .radio-group {
                                display: flex;
                                flex-direction: column;
                                // align-items: center;
                                gap: 10px;
                                margin-bottom: 10px;
                            }

                            .radio-input {
                                appearance: none;
                                width: 24px;
                                height: 24px;
                                border: 2px solid #ccc;
                                border-radius: 50%;
                                position: relative;
                            }

                            .radio-input:checked::before {
                                content: '';
                                width: 14px;
                                height: 14px;
                                background-color: #5D1CAA;
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            .radio-input:checked {
                                border-color: #5D1CAA;
                            }


                            label {
                                font-family: Roboto;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 14.06px;
                                text-align: left;

                            }

                            .comment-section {
                                padding-top: 1rem;

                                p {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 14.06px;
                                    text-align: left;
                                    color: #434343;
                                }

                                textarea {
                                    width: 100%;
                                    height: 100px;
                                    border: 1px solid #8C8C8C;
                                    border-radius: 8px;
                                    padding-left: 10px;
                                }

                                textarea:focus {
                                    outline: 1px solid #5D1CAA;
                                }
                            }
                        }

                        .rating-star-count {
                            width: 33%;

                            // background-color: red;
                            p {
                                font-family: Roboto;
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 23.44px;
                                text-align: center;
                                color: #111111;
                                margin-bottom: 0 !important;
                            }

                            .rating-stars {
                                display: flex;
                                gap: 5px;
                                justify-content: center;
                            }

                            .fill-star-rated {
                                color: #5D1CAA;
                                font-size: 24px;
                            }
                        }

                        .rating-progress-bar {
                            width: 33%;

                            .individual-rate {
                                display: flex;
                                gap: 7px;
                                align-items: center;
                                margin-bottom: 10px;

                                span {
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-weight: 700;
                                    line-height: 14.06px;
                                    letter-spacing: 0.02em;
                                    color: #111111;
                                }

                                .fill-star-rated {
                                    font-size: 10px;
                                    color: #5D1CAA;
                                }

                                .progress-bar-main {
                                    width: 111px;
                                    height: 9px;
                                    border-radius: 12px;
                                    background-color: #ECECEC;

                                    .collapse-inner {
                                        height: 9px;
                                        width: 25%;
                                        background-color: #5D1CAA;
                                        border-radius: 12px;
                                    }
                                }
                            }

                        }

                        .rating-buttons {
                            width: 33%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            button {
                                width: 100%;
                                height: 48px;
                                border-radius: 10px;
                                background-color: white;
                                border: 1px solid #5D1CAA;
                                color: #5D1CAA;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 22.4px;

                            }
                        }
                    }
                }

                .review-section {
                    border-bottom: 1px solid #F3F3F3;
                    padding: 1rem;

                    .fill-star-rated {
                        font-size: 16px;
                        margin-right: 7px;
                        color: #5D1CAA;
                    }

                    .not-fill {
                        color: #ECECEC;
                    }

                    .review-title {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 14.06px;
                        color: #111111;
                        margin-top: 10px;
                        // margin-bottom: 0 !important;
                    }

                    .user-details {
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        p {
                            margin-bottom: 0 !important;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.06px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #8C8C8C;
                        }
                    }

                    .rate-discription {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 400 !important;
                        line-height: 18.2px;
                        text-align: left;
                        padding-top: 10px;
                        color: black;

                    }

                    .review-image-section {
                        display: flex;
                        gap: 1rem;

                        .review-image {
                            width: 56px;
                            height: 56px;
                            background-color: gray;
                            border-radius: 4px;
                            overflow: hidden;
                        }
                    }
                }

                .seeMoreReviewBtn {
                    padding: 1rem;

                    button {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16.41px;
                        text-align: left;
                        color: #5D1CAA;
                        border: none;
                        background-color: transparent;
                    }
                }



            }

            .faq-section-wrapper {
                // height: 300px;
                border: 1px solid #F3F3F3;
                margin-top: 1rem;

                .faq-head {
                    border-bottom: 1px solid #F3F3F3;
                    padding: 1rem;

                    h2 {
                        //styleName: Desktop (lg = <1440px)/Heading 3;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22.5px;
                        color: #111111;
                    }
                }

                .listOfQstns {
                    border-bottom: 1px solid #F3F3F3;
                    padding: 1rem;

                    .qstn {
                        span {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 14.06px;
                            text-align: center;
                            color: #111111;
                        }
                    }

                    .anser {
                        padding-top: 10px;

                        span {
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.06px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: black;
                        }
                    }

                    .user {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.06px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        margin-top: 10px;
                        color: #8C8C8C;
                    }

                    .first-answer {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.06px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #5D1CAA;
                        margin-top: 10px;
                    }
                }

                .seemore-faq-btn {
                    padding: 1rem;

                    button {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16.41px;
                        text-align: left;
                        color: #5D1CAA;
                        border: none;
                        background-color: white;
                    }
                }
            }
        }
    }

    @media(max-width:576px) {
        .product-inner-page {
            padding: 1rem !important;
            flex-direction: column !important;

            .product-page-left {
                width: 100% !important;
                position: static;
                height: auto !important;

                .product-sub-images-container {
                    // background-color: red;
                    height: auto !important;

                    .product-sub-image {
                        height: 50px !important;
                    }
                }

                .selected-image-container {
                    height: 300px;
                    width: 100% !important;
                }
            }

            .product-page-right {
                width: 100% !important;
                padding-right: 0 !important;

                .product-discription {
                    font-size: 17px;
                    line-height: 23.92px;
                }

                .weight-packaging {
                    flex-direction: column !important;
                }

                .delivery-details-card {
                    flex-direction: column;

                    .delivery-left,
                    .delivery-right {
                        width: 100%;
                    }
                }

                .register-now-card {
                    height: auto !important;
                    flex-direction: column !important;
                    width: 100% !important;
                }

                .rating-detail-wrapper {
                    flex-direction: column !important;
                    height: auto !important;
                    gap: 1rem;

                    .rating-buttons,
                    .rating-buttons,
                    .rating-star-count {
                        width: 100% !important;
                    }
                }

                .delivery-detail-card-wrapper {
                    gap: 1rem !important;
                }

            }
        }
    }

    @media(min-width:576px) and (max-width:991px) {
        .product-inner-page {
            padding: 1rem !important;
            flex-direction: column !important;

            .product-page-left {
                width: 100% !important;
                position: static;
                height: auto !important;

                .product-sub-images-container {
                    // background-color: red;
                    height: auto !important;

                    .product-sub-image {
                        height: 60px !important;
                    }
                }

                .selected-image-container {
                    height: 630px;
                    width: 100% !important;
                }
            }

            .product-page-right {
                width: 100% !important;
                padding-right: 0 !important;

                .product-discription {
                    font-size: 21px;
                    line-height: 30.92px;
                }

                .delivery-details-card {
                    flex-direction: column;

                    .delivery-left,
                    .delivery-right {
                        width: 100%;
                    }
                }

                .register-now-card {
                    width: 100% !important;
                }

                .rating-detail-wrapper {
                    // flex-direction: column !important;
                    height: auto !important;
                    gap: 1rem;

                    .rating-buttons,
                    .rating-buttons,
                    .rating-star-count {
                        width: 100% !important;
                    }
                }

            }
        }
    }
}