.Filter-wrapper {

    .filter-body {
        // padding-top: 10rem;
        width: 245px;
        // background-color: red;
        height: 100vh;
        // padding:  0rem;
        overflow-y: scroll;
        position: sticky;
        top: 0;

        .filter-main-heading {
            padding: 1rem;
            border-width: 1px, 1px, 0px, 1px;

            border: 1px solid #F3F3F3;


            h1 {

                font-family: "Roboto";
                font-size: 18px;
                margin: 0px !important;
                font-weight: 600;
                line-height: 22.5px;
                text-align: left;

            }
        }

        .filter-collapse {
            .down-arrow {
                transition: transform 0.5s ease;
                transform: rotate(180deg);
            }

            .down-arrow.rotated {
                transform: rotate(0deg);
            }

            /* Ensure the collapse animation */
            .collapse {
                display: none;
                transition: height 0.3s ease;
            }

            .collapse.show {
                display: block;
            }

            .collapse-title-body {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 44px;
                cursor: pointer;
                // background-color: yellow;
                border: 1px solid #F3F3F3;
                padding: 1rem;

                .collapse-title {
                    h1 {
                        //styleName: Desktop (lg = <1440px)/Heading 4;
                        font-family: Roboto;
                        font-size: 16px;
                        padding-bottom: 0px !important;
                        margin-bottom: 0px !important;
                        font-weight: 600;
                        line-height: 20px;
                        text-align: left;
                        color: #111111;
                    }
                }

                .collapse-arrow {
                    font-size: 22px;
                    width: 10%;

                    display: grid;
                    align-items: center;
                    justify-content: center;
                }



            }

            .collapse-body-content {
                // background-color: green;
                padding: 0rem 0rem;

                .collapse-sub-body {
                    width: 100%;
                    display: flex;
                    height: 35px;
                    cursor: pointer;
                    align-items: center;
                    padding-left: 5px;
                    justify-content: start;
                    gap: 10px;
                    // background-color: red;

                    h1 {
                        //styleName: Desktop (lg = <1440px)/Heading 6;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 16.25px;
                        text-align: left;
                        margin: 0px !important;

                    }

                    .collapse-arrow-icon {
                        display: grid;
                        align-items: center;
                        justify-content: center;
                    }


                }

                .collapse-sub-body-lists {

                    // background-color: red;
                    .groceries {
                        padding: 7px 0px;
                        text-decoration: none;
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18.2px;
                        text-align: left;
                        color: #111111;
                    }
                }

                .rating-container {
                    // background-color: red;
                    display: flex;
                    width: 70%;
                    align-items: center;
                    padding-left: 5px;
                    margin-bottom: 8px;
                    justify-content: space-between;


                }

                .rating-check-box {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                }

                .rating-check-box input[type="checkbox"] {
                    width: 18px;
                    height: 18px;
                    border-radius: 6px !important;
                    accent-color: #5D1CAA;
                    /* Change the color of the checkbox */
                }

                .rating-number {
                    span {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 14.4px;
                        color: #111111;
                        letter-spacing: 0.02em;
                        text-align: left;

                    }
                }

                .rating-icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #5D1CAA;
                    font-size: 16px !important;
                }

                .progress-bar {
                    width: 100%;
                    padding: 20px;
                    box-sizing: border-box;
                }

                .bar {
                    position: relative;
                    width: 100%;
                    height: 10px;
                    background-color: #ddd;
                    border-radius: 5px;
                }

                .circle {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 20px;
                    background-color: #007bff;
                    border-radius: 50%;
                    cursor: pointer;
                }


                .circle.from {
                    background-color: #5D1CAA;
                    /* Red color for the "from" circle */
                }

                .circle.to {
                    background-color: #5D1CAA;
                    width: 25px;
                    height: 25px;

                    /* Green color for the "to" circle */
                }

                .progress-count {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .min-value-container {
                        width: 98px;
                        border: 1px solid #F3F3F3;
                        height: 24px;
                        // background-color: violet;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .min-value-left-side {
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            width: 30%;
                            height: 100%;
                            border-right: 1px solid #F3F3F3;

                            span {
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17.5px;
                                color: #5C5C5C;
                                text-align: left;
                                font-variation-settings: 'wdth' 100, 'opsz' 14;
                            }

                            //   background-color: red;
                        }

                        .min-value-right-side {
                            width: 70%;
                            height: 100%;
                            display: grid;
                            align-items: center;
                            padding-left: 5px;
                            // background-color: rgb(167, 60, 60);
                        }
                    }

                    .min-count {
                        span {
                            //styleName: Desktop (lg = <1440px)/body-xs;
                            font-family: Roboto;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 13.75px;
                            text-align: left;
                            color: #5C5C5C;

                        }
                    }

                    .max-value-container {
                        width: 98px;
                        height: 24px;
                        // background-color: violet;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #F3F3F3;

                        .min-value-left-side {
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            width: 30%;
                            height: 100%;
                            border-right: 1px solid #F3F3F3;

                            span {
                                //styleName: Desktop (lg = <1440px)/body-lg;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17.5px;
                                color: #5C5C5C;
                                text-align: left;
                                font-variation-settings: 'wdth' 100, 'opsz' 14;

                            }

                            //   background-color: red;

                        }

                        .min-value-right-side {
                            width: 70%;
                            height: 100%;
                            display: grid;
                            align-items: center;
                            padding-left: 5px;

                            // background-color: rgb(167, 60, 60);
                            span {
                                //styleName: Desktop (lg = <1440px)/body-lg;
                                font-family: Roboto;
                                font-size: 14px;
                                font-weight: 400;

                                color: #111111;
                                line-height: 17.5px;
                                text-align: left;
                                font-variation-settings: 'wdth' 100, 'opsz' 14;

                            }
                        }
                    }

                    .max-count {
                        text-align: end;

                        // background-color: red;
                        span {
                            //styleName: Desktop (lg = <1440px)/body-xs;
                            font-family: Roboto;
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 13.75px;

                            color: #5C5C5C;

                        }
                    }

                }


            }
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }


    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }


    ::-webkit-scrollbar-thumb {
        background: #C3C3C3;
        border-radius: 20px;
        /* Rounded corners */
    }


    .card {
        border: none !important;
        transition: 2s ease-in-out !important;
    }
}